<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Which Magic Character are You?</h1>
    <form action="/personality" method = "POST">
            <p> Q1: What color? </p>
            <input type="radio" name="question1" value = "White" /> White <br>
            <input type="radio" name="question1" value = "Blue"/> Blue <br>
            <input type="radio" name="question1" value = "Black"/> Black <br>
            <input type="radio" name="question1" value = "Red"/> Red <br>
            <input type="radio" name="question1" value = "Green"/> Green <br>
            <p> Q2: Marvel or DC? </p>
            <input type="radio" name="question2" value = "Marvel" /> Marvel <br>
            <input type="radio" name="question2" value = "DC"/> DC <br>
            <p> Q3: Do you enjoy Sports? </p>
            <input type="radio" name="question3" value = "Yes" /> Yes <br>
            <input type="radio" name="question3" value = "No"/> No <br>
            <p> Q4: Which of these pizza toppings do you prefer </p>
            <input type="radio" name="question4" value = "Cheese" /> Cheese <br>
            <input type="radio" name="question4" value = "Hawaiian"/> Hawaiian <br>
            <input type="radio" name="question4" value = "Pepperoni"/> Pepperoni <br>
            <p> Q5: Sports or Academics </p>
            <input type="radio" name="question5" value = "Athletics" /> Athletics <br>
            <input type="radio" name="question5" value = "Academics"/> Academics <br>
            <input type="submit" value="Submit"/>
        </form>
  </body>
</html>
